.App ul {
    list-style: none;
}

.App a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
}
.App{
    position: fixed;
    padding: 20px 0;
    /* backdrop-filter:blur(10px); */
    z-index: 9;
}
div#home:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(10px);
}
/* navbar */
.App .navbar {
    padding: 18px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px;
}


/* logo  */
.logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


/* ul  */
.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.sections {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

/* .sections1 {
    margin-top: 20px;
} */

/* media queries */

@media screen and (max-width: 780px) {

    /* hamburger */
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
        background-color: #ffffff;
        width: 25px;
        height: 2px;
        display: block;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    /* navMenu */

    .navMenu {
        position: absolute;
        flex-direction: column;
        gap: 0;
        top: 70px;
        left: -100%;
        text-align: start;
        width: 100%;
        transition: 0.7s ease-in-out;
        /* background-color:#0c0d14; */
        backdrop-filter: blur(5px);
        padding: 40px 20px;
        z-index: 9;
    }

    .navMenu.active {
        left: 0;
    }

    .navMenu li {
        margin: 16px 0;
    }
}.App ul {
    list-style: none;
}

.App a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
}
.App{
    position: fixed;
    padding: 20px 0;
    /* backdrop-filter:blur(10px); */
    z-index: 9;
}
div#home:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(10px);
}
/* navbar */
.App .navbar {
    padding: 18px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px;
}


/* logo  */
.logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


/* ul  */
.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.sections {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

/* .sections1 {
    margin-top: 20px;
} */

/* media queries */

@media screen and (max-width: 780px) {

    /* hamburger */
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
        background-color: #ffffff;
        width: 25px;
        height: 2px;
        display: block;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    /* navMenu */

    .navMenu {
        position: absolute;
        flex-direction: column;
        gap: 0;
        top: 70px;
        left: -100%;
        text-align: start;
        width: 100%;
        transition: 0.7s ease-in-out;
        /* background-color:#0c0d14; */
        backdrop-filter: blur(5px);
        padding: 40px 20px;
        z-index: 9;
    }

    .navMenu.active {
        left: 0;
    }

    .navMenu li {
        margin: 16px 0;
    }
}.App ul {
    list-style: none;
}

.App a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
}
.App{
    position: fixed;
    padding: 21px 0;
    /* backdrop-filter:blur(10px); */
    z-index: 9;
}
div#home:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(10px);
}
/* navbar */
.App .navbar {
    padding: 18px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px;
}


/* logo  */
.logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


/* ul  */
.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.sections {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

/* .sections1 {
    margin-top: 20px;
} */

/* media queries */

@media screen and (max-width: 780px) {

    /* hamburger */
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
        background-color: #ffffff;
        width: 25px;
        height: 2px;
        display: block;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    /* navMenu */

    .navMenu {
        position: absolute;
        flex-direction: column;
        gap: 0;
        top: 70px;
        left: -100%;
        text-align: start;
        width: 100%;
        transition: 0.7s ease-in-out;
        /* background-color:#0c0d14; */
        backdrop-filter: blur(5px);
        padding: 40px 20px;
        z-index: 9;
    }

    .navMenu.active {
        left: 0;
    }

    .navMenu li {
        margin: 16px 0;
    }
}